/* Old section css that will not used */
/* But probably will use in the future. */

/* LOGIN SECTION */
.login{
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Button works */
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.login.show{
    opacity: 1;
    z-index: 100;
    pointer-events: auto;
    transition: 0.5s ease;
}

.login_isi img{
    max-width: 100%;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login_isi{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    width: 500px;
    /* margin: auto; */
}

.login_isi input{
    width: 300px;
    height: 38px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 14px;
}

.input_login{
    margin-top: 20px;
    margin-bottom: 20px;
}

.login_isi button{
    /* margin-top: 10px; */
    background: #0067D5;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 35px;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
}
/* END OF LOGIN SECTION */

/* PAGINATION CUSTOM */
/* .pagination_custom {
    padding: 5px 20px 5px 20px;
    color: white;
    cursor: pointer;
    text-align: center;
} */

/* .pagination_custom button{
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    border: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: #1a83f3;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
} */
/* END OF PAGINATION CUSTOM */